<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ChronosDocente{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body class="bg-gray-100 font-sans">

    <nav class="bg-white shadow-md">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex items-center">
                    <a href="{{ url_for('index') }}" class="text-xl font-bold text-blue-600 uppercase tracking-wider">
                        Minhas Aulas - Eventual
                    </a>
                </div>                

                <div class="flex items-center space-x-6">
                    <div class="relative">
                        <button id="menuButton" class="text-gray-700 hover:text-blue-600 transition font-medium flex items-center gap-1 focus:outline-none">
                            Cadastros
                            <span class="material-symbols-outlined text-sm">keyboard_arrow_down</span>
                        </button>
                        
                        <div id="menuDropdown" class="absolute right-0 mt-2 w-48 bg-white border border-gray-100 rounded-xl shadow-xl hidden z-50 overflow-hidden py-2">
                            {% if is_admin %}
                                <a href="{{ url_for('create_user') }}" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-blue-50 transition-colors">
                                <span class="material-symbols-outlined mr-2 text-base">person_add</span> Novo Usuário
                                </a>
                            {% endif %}
                            <a href="{{ url_for('escolas.escolas_view')}}" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-blue-50 transition-colors">
                                <span class="material-symbols-outlined mr-2 text-base">school</span> Escolas
                            </a>
                              <a href="{{url_for('disciplinas.disciplina_view')}}" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-blue-50 transition-colors">
                                <span class="material-symbols-outlined mr-2 text-base">menu_book</span> Disciplinas
                            </a>
                        </div>
                    </div>

                    <div class="flex items-center space-x-4">
                        <span class="text-gray-300">|</span>
                        <span class="text-gray-600 text-sm hidden md:block">                            
                            Olá, <strong>{{ current_user.first_name }}</strong>
                        </span>
                        <a href="{{ url_for('logout') }}" class="flex items-center text-gray-500 hover:text-red-600 transition-colors duration-200 font-medium">
                            <span class="material-symbols-outlined mr-1">logout</span> Sair
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="max-w-7xl mx-auto py-10 px-4">
        {% block content %}{% endblock %}
    </main>

    <div id="flask-messages" 
         data-messages='{{ get_flashed_messages(with_categories=true) | tojson | safe }}'>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>